.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-main); 
}

.landing-layout {
    text-align: center;
    margin-top: -125px;
}

.landing-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-dark);
    letter-spacing: -1px;
    margin-bottom: 60px;
}

.options-row {
    display: flex;
    gap: 30px;
}

.minimal-box {
    width: 320px;
    padding: 60px 40px;
    text-decoration: none;
    background: transparent;
    border: 4px solid;
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.client-border {
    border-color: #ea8736;
    color: #ea8736;
}

.org-border {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.minimal-box:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.05);
}

.client-border:hover {
    background-color: #ea8736;
    color: white;
}

.org-border:hover {
    background-color: var(--accent-color);
    color: white;
}

.box-label {
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.box-sub {
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.7;
}

.line-decorator {
    width: 40px;
    height: 2px;
    background: currentColor;
    margin-top: 20px;
}